html {
  background-color: #211f1f;
  color: whitesmoke;
}
.parent-1 {
  border: 3px dashed greenyellow;
  /* its give the div grid */
  display: grid;
  /* we tell by this that we need rows &collms in this pixel */

  /* grid-template-rows: 30px 30px 30px 30px;
  grid-template-columns: 50px 90px 50px 50px; */

  /* we can do this in a repet way  */
  /*  we need 4 rows 50px each like this */
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  /* it define the  gap bettwen child in the div */
  grid-gap: 5px;
}
.child-1 {
  border: 2px dotted red;
}
#childno1 {
  /* grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3; */
  /* its short version is  
    grid-row: strat / end;
    grid-column: strat / end;
  */
  grid-row: 1/4;
  grid-column: 1/2;
}
#childno8 {
  grid-column-start: 1;
  grid-column-end: 5;
  /* a alternative of this is */
  /* its just do the work  single  it calculate according "grid-column-start" */
  grid-column-end: span 3;
}
/* draw a box model hight and width calculation */

/* if you give box-sizing : border box then its adjust the hight and width according the actual size you give its wont add any extra  space*/

/* when two div give marzin the greatest them will have  */
.box {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  padding: 15px;

  border: 3px double blue;
}
#box-model-1 {
  margin-bottom: 30px;
}
#box-model-2 {
  margin-top: 20px;
}

/* there two typw of units in CSS 
1. absolute : without any reference fixed
Eg: city , pincode , po , ps
example: 30px 
2. relatice : in relation with somthing
eg: 2 houce aways from school 
example: em or %
em: its multilpy  size acording the parent size    
rem:  its multilpy  size acording the root size 
vh: viewport high   
vh: viewport width
*/
/* after do potison absolute we can  move a item in the page everywhwre it follow the nearest relative elemnt */
/* fiexed mens we can fixed that any whre we want */
/* ssticky first act like absolute but if its  out from the area that given to him its act like fixed*/
